/* general */
* {
    margin: 0;
    padding: 0;
    font-family: inter;
}
html {
    background-color: #e5e5f7;
    background: repeating-linear-gradient( 45deg, #0000000a, #0000000a 3px, #e5e5f70a 5px, #e5e5f70a 25px );
}

@font-face {
    font-family: inter;
    src: url('./assets/fonts/Inter-VariableFont_slnt\,wght.ttf') format('TrueType');
}
body {
    width: 100vw;
    height: 100vh;
    
    display: flex;
    flex-direction: column;

    align-items: center;
}
/* header */
.header-container {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}
.header-title {
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: 700;

    padding-top: 30px;
}
.header-description {
    text-align: center;
    font-size: 20px;
}

/* home */
.project-container {
    width: 500px;
    height: 600px;
    margin-top: 40px;
    overflow-y:auto;

    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 0px 0px 6px black;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #FFF;
}
.project-header-container {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;

    display: flex;
    align-items:center;
    justify-content: space-around;

    border-bottom: 1px solid black;
}
.project-header {
    font-size: 30px;
    font-weight: 700;

    text-decoration: underline;
}
.project-button {
    width: 250px;
    height: 40px;

    font-size: 20px;
    font-weight: 500;

    background-color: white;
    color: green;

    border: 2px solid green;
    border-radius: 20px;

    transition: .4s;
}
.project-button:hover {
    cursor: pointer;

    background-color: green;
    color: white;
}
.project-card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 450px;
    height: 60px;

    margin-top: 30px;

    border: 1px solid black;
    border-radius: 20px;

}
.project-title {
    font-size: 30px;
    font-weight: 700;
    height: 100%;
    width: 360px;

    padding-top: 20px;
    margin-left: 20px;

    text-decoration: underline;

    transition: .4s;
}
.project-card-container:hover {
    cursor: pointer;
    transition: .4s;
    scale: 1.04;
}
.delete-project {
    width: 40px;
    height: 40px;
    margin-right: 10px;

    background-color: #FFF;

    border-radius: 100px;
    border: 2px solid red;
    color: red;

    font-weight: 500;
    font-size: 20px;

    transition: .4s;
}
.delete-project:hover {
    cursor: pointer;

    color: #FFF;
    background-color: red;
}
.empty-list {
    font-size: 20px;
    color: #555;

    width: 400px;
    margin-top: 80px;
}